section(data-ng-controller="RejectionsCtrl" data-ng-init="find()")
  #alarm.alert.alert-danger(ng-if="err.status=='500'" role="alert") <b>{{ err.status }}</b> {{ err.data.data.message }}

  h3 <small>von: </small>{{ startTimeDisplay | date: "dd.MM.yy HH:mm" }} <small>bis: </small>{{ endTimeDisplay | date: "dd.MM.yy HH:mm" }}
  hr

  form.form-inline
    .form-group
      input.form-control(type="datetime-local" placeholder="von" data-ng-model="startTimeInput")
    .form-group
      input.form-control(type="datetime-local" placeholder="bis" data-ng-model="endTimeInput")
    .form-group
      button.btn.btn-danger(ng-click="find()") Update
    .form-group
      button.btn.btn-success(ng-click="updateCharts()") Charts

  .well
    .row
      .col-md-6
        .row
          .col-xs-6
            p Summe nach Fehler
          .col-xs-6
            botton.btn.btn-primary(ng-print print-element-id="defectsChart" disabled="disabled"): i.glyphicon.glyphicon-print  Drucken
        // pre {{ defectsSummary | json:4 }}
      .col-md-6
        .row
          .col-xs-6
            p Summe nach Artikel
          .col-xs-6
            botton.btn.btn-primary(ng-print print-element-id="articlesChart" disabled="disabled"): i.glyphicon.glyphicon-print  Drucken
        // pre {{ articlesSummary | json:4 }}
    .row
      .col-md-6
        canvas#defectsChart.chart.chart-bar(chart-data="defectBarData" chart-labels="defectBarLabels" chart-options="defectBarOptions")
      .col-md-6
        canvas#articlesChart.chart.chart-bar(chart-data="articleBarData" chart-labels="articleBarLabels" chart-options="articleBarOptions")

  .row
    .col-md-4.col-lg-3.col-lg-offset-1
      .form-group
        label.sr-only(for="searchArticle") Artikel
        .input-group#searchArticle
          .input-group-addon: i.glyphicon.glyphicon-search
          input.form-control(type="text" data-ng-model="search.bezeichnung" data-ng-change="updateCharts()" uib-typeahead="item for item in articleSelection | filter:$viewValue" placeholder="Artikel")
          span.input-group-btn
            button.btn.btn-default(type="button" data-ng-click="clearArticle()"): i.glyphicon.glyphicon-remove
    .col-md-4.col-lg-3
      .form-group
        label.sr-only(for="searchDefect") Fehler
        .input-group#searchDefect
          .input-group-addon: i.glyphicon.glyphicon-search
          input.form-control(type="text" data-ng-model="search.fehlerart.fehlerart_text" data-ng-change="updateCharts()" uib-typeahead="defect for defect in defectSelection | filter:$viewValue" placeholder="Fehler")
          span.input-group-btn
            button.btn.btn-default(type="button" data-ng-click="clearDefect()"): i.glyphicon.glyphicon-remove
    .col-md-4.col-lg-3
      .form-group
        label.sr-only(for="searchDecision") Verwendung
        .input-group#searchDecision
          .input-group-addon: i.glyphicon.glyphicon-search
          input.form-control(type="text" data-ng-model="search.verwendung" data-ng-change="updateCharts()" placeholder="Verwendung")


  .row
    botton.btn.btn-primary(ng-print print-element-id="rejectionstable"): i.glyphicon.glyphicon-print  Drucken
  .row
    .col-lg-10.col-lg-offset-1.col-xs-12
      table#rejectionstable.table.table-hover.table-condensed
        thead
          tr
            th Datum
            th Artikel
            th Fehler
            th 2. Verwendung
            th Auslauf
            th 1. Verwendung
            th Personalnummer
            th Barcode
        tbody
          tr(data-ng-repeat="item in rejections | filter:search")
            td(data-ng-bind="item.datum | date:'dd.MM.yy HH:mm'")
            td(data-ng-bind="item.bezeichnung")
            td(data-ng-bind="item.fehlerart.fehlerart_text")
            td(data-ng-bind="item.verwendung")
            td(data-ng-bind="item.artikel.datum | date:'dd.MM.yy HH:mm'")
            td(data-ng-bind="item.artikel.verwendung")
            td(data-ng-bind="item.artikel.personalnummer")
            td(data-ng-bind="item.barcode")

//
  {
    "id":10062,
    "datum":"2017-02-06T14:44:20.000Z",
    "barcode":"307324520",
    "fehlerart_code":4237,
    "bewertung":3,
    "personalnummer":null,
    "fehlerort_code":52,
    "artikel":{
      "sid":8611486,
      "datum":"2017-02-06T10:19:41.000Z",
      "uhrzeit":"11:19:41",
      "artikelcode":7180630000378,
      "artikelbezeichnung":"Tiguan 326 Abdeckung hi. NWB Indium",
      "farbton":"Indiumgrau R7H",
      "skidseite":2,
      "lackierposition":10,
      "io_notouch":1,
      "io_poliert":null,
      "nacharbeit":null,
      "ausschuss":null,
      "fehlerart_code":null,
      "fehlerort_code":null,
      "personalnummer":"01016608",
      "skid":312,
      "barcode":"307324520",
      "artikelart":"0",
      "auslaufzeit":"2017-02-06T10:18:13.000Z",
      "Fahrweg":340,
      "farbcode":"378",
      "typcode":"180630000",
      "verwendung":"OK",
      "fahrweg":"Normal",
      "basis":"Rohteil"
    }
  }

  {
    "id":10083,
    "datum":"2017-02-07T00:37:08.000Z",
    "barcode":"307324072",
    "fehlerart_code":4224,
    "bewertung":4,
    "personalnummer":null,
    "fehlerort_code":42,
    "fehlerart":{
      "fehlerart_code":4224,
      "fehlerart_text":"Einschluss Basislack"
      },
    "artikel":{
      "sid":8611365,
      "datum":"2017-02-06T09:58:53.000Z",
      "uhrzeit":"10:58:53",
      "artikelcode":7180260000378,
      "artikelbezeichnung":"Tiguan 326 Abdeckung vo.Indiumgrau",
      "farbton":"Indiumgrau R7H",
      "skidseite":1,
      "lackierposition":3,
      "io_notouch":1,
      "io_poliert":null,
      "nacharbeit":null,
      "ausschuss":null,
      "fehlerart_code":null,
      "fehlerort_code":null,
      "personalnummer":"01016312",
      "skid":51,
      "barcode":"307324072",
      "artikelart":"0",
      "auslaufzeit":"2017-02-06T09:56:42.000Z",
      "Fahrweg":340,
      "farbcode":"378",
      "typcode":"180260000",
      "verwendung":"OK",
      "fahrweg":"Normal",
      "basis":"Rohteil"
      }
    }
