section(data-ng-controller="DashboardCtrl" data-ng-init="refresh()")
  // h1.page-header I'm a fancy dashboard [WIP]
  #alarm.alert.alert-danger(ng-if="err.status=='500'" role="alert") <b>{{ err.status }}</b> {{ err.data.data.message }}
  #alarm.alert.alert-danger(ng-if="err.status==-1" role="alert") <b>Server offline</b> seit {{ lastUpdateHuman }}
  .row
    .col-md-3#frq
      .panel.panel-default(data-ng-class="{'panel-success' : frq >= 90, 'panel-danger' : frq < 90 }")
        .panel-heading: h1 FRQ: {{ frq | number: 1 }}%
        .panel-body
          h2 {{ summaryInclSpare.OK + summaryInclSpare['OK poliert'] }} / {{ sumInclSpare }}
    .col-md-3#rft
      .panel.panel-default(data-ng-class="{'panel-success' : rft >= 81.7, 'panel-danger' : rft < 81.7 }")
        .panel-heading: h1 RFT: {{ rft | number: 1 }}%
        .panel-body
          h2 {{ summaryExclSpare.OK }} / {{ sumExclSpare }}
    .col-md-3#scrap
      .panel.panel-default(data-ng-class="{'panel-success' : scrap <= 1, 'panel-danger' : scrap > 1 }")
        .panel-heading: h1 Scrap: {{ scrap | number: 1 }}%
        .panel-body
          h2 {{ summaryInclSpare.Ausschuss }} / {{ sumInclSpare }}
    .col-md-3#paintScrap
      .panel.panel-info
        .panel-heading: h1 Paint Scrap:
        .panel-body
          h1 {{ paintScrap | currency}}
          // h3 {{ summaryExclSpare.Ausschuss }}
  .row
    .col-md-8
      .panel.panel-info
        .panel-heading: h2 aktuelle Fehler (Ausschuss & Nacharbeit)
        .panel-body
          canvas#defectsChart.chart.chart-horizontal-bar(chart-data="defectsChartData" chart-labels="defectsChartLabels" chart-options="defectsChartOptions" height="600px")
    .col-md-4
      .panel.panel-info
        .panel-heading: h2 heutige R&uuml;ckweisungen: {{ rejectionsSum }}
        .panel-body
          canvas#rejectionsChart.chart.chart-horizontal-bar(chart-data="rejectionsChartData" chart-labels="rejectionsChartLabels" chart-options="rejectionsChartOptions")
