h1.page-header I'm a fancy dashboard
.row
  .col-md-4
    .panel.panel-success
      .panel-heading: h2 FRQ:
      .panel-body
        h3 [WIP]
  .col-md-4
    .panel.panel-info
      .panel-heading: h2 FTT:
      .panel-body
        h3 [WIP]
  .col-md-4
    .panel.panel-danger
      .panel-heading: h2 Scrap:
      .panel-body
        h3 [WIP]
.row
  .col-xs-12
    .panel.panel-default
      .panel-heading: h2 aktuelle Fehler
      .panel-body
        canvas#defectsChart.chart.chart-bar
