section(data-ng-controller="DashboardCtrl" data-ng-init="refresh()")
  // h1.page-header I'm a fancy dashboard [WIP]
  #alarm.alert.alert-danger(ng-if="err.status=='500'" role="alert") <b>{{ err.status }}</b> {{ err.data.data.message }}
  #alarm.alert.alert-danger(ng-if="err.status==-1" role="alert") <b>Server offline</b> seit {{ lastUpdateHuman }}
  .row
    .col-md-2
      .row
        .panel.panel-default(data-ng-class="{'panel-success' : frq >= 90, 'panel-danger' : frq < 90 }")
          .panel-heading: h3 FRQ: {{ frq | number: 2 }}%
          .panel-body
            h4 {{ summary.OK + summary['OK poliert'] }} / {{ sumInclET }}
      .row
        .panel.panel-default(data-ng-class="{'panel-success' : ftt >= 80, 'panel-danger' : ftt < 80 }")
          .panel-heading: h3 FTT: {{ ftt | number: 2 }}%
          .panel-body
            h4 {{ summary.OK }} / {{ sumInclET }}
      .row
        .panel.panel-default(data-ng-class="{'panel-success' : scrap <= 1, 'panel-danger' : scrap > 1 }")
          .panel-heading: h3 Scrap: {{ scrap | number: 2 }}%
          .panel-body
            h4 {{ summary.Ausschuss }} / {{ sumInclET }}
      .row
        .panel.panel-default(data-ng-class="{'panel-success' : rft >= 81.7, 'panel-danger' : rft < 81.7 }")
          .panel-heading: h3 RFT: {{ rft | number: 2 }}%
          .panel-body
            h4 {{ summary.OK }} / {{ sumExclET }}
      .row
        .panel.panel-default
          .panel-heading: h3 Paint Scrap: {{ paintScrap | number: 2}}€
          .panel-body
            h3
    .col-md-10
      .panel.panel-default
        .panel-heading: h2 aktuelle Fehler
        .panel-body
          canvas#defectsChart.chart.chart-horizontal-bar(chart-data="defectsChartData" chart-labels="defectsChartLabels" chart-options="defectsChartOptions")
          // pre(ng-bind="defects | json ")
