section(data-ng-controller="ArtikelCtrl" data-ng-init="find()")
  h1.page-header Artikel Liste

  #alarm.alert.alert-danger(ng-if="err.status=='500'" role="alert") <b>{{ err.status }}</b> {{ err.data.data.message }}

  .row
    .col-md-10.col-md-offset-1
      table.table.table-hover.table-condensed
        thead
          tr
            th #
            th Artikel
            th Baureihe
            th Art
            th Rohteilwert
        tbody
          tr(data-ng-repeat="art in artikel | orderBy: 'Materialkurztext'" data-ng-class="{success: art.aktiv == 1}")
            td(data-ng-bind="art.Material")
            td(data-ng-bind="art.Materialkurztext")
            td(data-ng-bind="art.Baureihe")
            td(data-ng-bind="art.Art")
            td(data-ng-bind="art.Rohteilpreis | currency ")
