section(data-ng-controller="FarbtonCtrl" data-ng-init="find()")
  h1.page-header Farbton Liste

  table.table.table-hover.table-condensed
    thead
      tr
        th Farbcode
        th Farbe
        th Baureihe
    tbody
      tr(data-ng-repeat="color in colors")
        td(data-ng-bind="color.Farbcode")
        td(data-ng-bind="color.Farbton")
        td(data-ng-bind="color.Baureihe FT")
