h1 Hello World!! :-)

#timepickerCtrl(ng-controller="TimepickerDemoCtrl")

  #timepicker(uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian")
  pre.alert.alert-info Time is: {{mytime | date:'shortTime' }}

  hr

  button.btn.btn-default(type="button" ng-click="setEarly()") 06:00
  button.btn.btn-default(type="button" ng-click="setLate()") 14:00
  button.btn.btn-default(type="button" ng-click="setNight()") 22:00
