
#timepickerCtrl.well(ng-controller="TimepickerDemoCtrl")

  pre.alert.alert-success {{mytime | date:"HH:mm 'Uhr'" }}
  #timepicker(uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian")

  hr

  button.btn.btn-default(type="button" ng-click="setEarly()") 06:00
  button.btn.btn-default(type="button" ng-click="setLate()") 14:00
  button.btn.btn-default(type="button" ng-click="setNight()") 22:00
