doctype html
html(lang="de")
  head
    meta(charset"utf-8")
    meta(name="viewport" content="initial-scale=1")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lib/angular-loading-bar/build/loading-bar.min.css")
    link(rel="stylesheet" href="/css/master.css")
    title= title
  body
    navigation

    #main.container-fluid
      section(ng-view)


    script(type="text/javascript" src="/lib/angular/angular.min.js")
    script(type="text/javascript" src="/lib/angular-loading-bar/build/loading-bar.min.js")
    script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
    script(type="text/javascript" src="/lib/angular-resource/angular-resource.min.js")
    script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js")
    script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(type="text/javascript" src="/lib/angular-animate/angular-animate.min.js")
    script(type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js")
    script(type="text/javascript" src="/lib/lodash/dist/lodash.min.js")
    script(type="text/javascript" src="/lib/chart.js/dist/Chart.min.js")
    script(type="text/javascript" src="/lib/angular-chart.js/dist/angular-chart.min.js")


    script(type="text/javascript" src="/application.js")
    script(type="text/javascript" src="/cosmino/cosmino.client.module.js")
    script(type="text/javascript" src="/cosmino/controllers/cosmino.client.controller.js")
    script(type="text/javascript" src="/cosmino/config/cosmino.client.routes.js")
    script(type="text/javascript" src="/cosmino/services/export.client.service.js")
    script(type="text/javascript" src="/cosmino/controllers/analysis.client.controller.js")

    script(type="text/javascript" src="/cosmino/artikel/artikel.client.module.js")
    script(type="text/javascript" src="/cosmino/artikel/controllers/artikel.client.controller.js")
    script(type="text/javascript" src="/cosmino/artikel/services/artikel.client.service.js")
    script(type="text/javascript" src="/cosmino/artikel/config/artikel.client.routes.js")

    script(type="text/javascript" src="/cosmino/farbton/farbton.client.module.js")
    script(type="text/javascript" src="/cosmino/farbton/controllers/farbton.client.controller.js")
    script(type="text/javascript" src="/cosmino/farbton/services/farbton.client.service.js")
    script(type="text/javascript" src="/cosmino/farbton/config/farbton.client.routes.js")

    script(type="text/javascript" src="/navigation/services/navigation.client.service.js")
    script(type="text/javascript" src="/navigation/directives/navigation.client.directive.js")
    script(type="text/javascript" src="/navigation/controllers/navigation.client.controller.js")

    script(type="text/javascript" src="/rejections/rejections.client.module.js")
    script(type="text/javascript" src="/rejections/config/rejections.client.routes.js")
    script(type="text/javascript" src="/rejections/controllers/rejections.client.controller.js")
    script(type="text/javascript" src="/rejections/services/rejections.client.service.js")
